@model CourseOnline.Models.Cours
@{
    ViewBag.Title = "CouseDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .collapsible {
        background-color: white;
        color: black;
        cursor: pointer;
        padding: 15px 0;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        cursor: pointer;
    }

        .active, .collapsible:after {
            color: #06bbcc;
        }


        bai-dang:after {
            content: '\002B';
            color: black;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }





    .content-collapsible {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #fff;
        cursor: pointer;
    }

    .tablink {
        background-color: white !important;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
    }

        .tablink:hover {
            background-color: #777;
        }

    @*/ Style the tab content (and add height:100% for full page content) /*@
    .tabcontent {
        display: none;
        padding: 10px 15px;
        height: 100%;
    }
    .lessonname {
        width: 75%;
    }
    .lessonname-time {
        color: #979797;
    }
    }
</style>
<div class="row m-0">
    <div class="col-md-8 blog-pull-right">
        <div class="single-service" style="padding:10px">
            <div itemscope="" itemtype="" style="width: 100%">
                <iframe id="urlVideo" style="width: 100%; padding-top: 10px; margin-top: 50px; height:545px" src="https://www.youtube.com/embed/e2mIvJc8GVc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <h3 class="text-theme-colored" style="padding:15px">@Model.CourseName</h3>
            <div class="container">
                <div class="row border-bottom">
                    <div class="col-3"> <button class="tablink text-center" style="border:none; background-color: #fff !important;" onclick="openPage('Home', this)" id="defaultOpen">Về Chúng Tôi</button></div>
                    <div class="col-3"> <button class="tablink text-center" style="border:none" onclick="openPage('News', this)">Bài Học</button></div>
                    <div class="col-3"> <button class="tablink text-center" style="border:none" onclick="openPage('Contact', this)">Thảo Luận</button></div>
                    <div class="col-3"> <button class="tablink text-center" style="border:none" onclick="openPage('About', this)">Tài Liệu</button></div>
                </div>
            </div>
            <div id="Home" class="m-3 tabcontent">
                <div>
                    @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
                </div>
                <h5 style="color: #06bbcc">Lợi ích của khóa học</h5>
                <div>
                    @Html.Raw(HttpUtility.HtmlDecode(Model.Benefits))
                </div>
            </div>
            <div id="News" class="tabcontent container">
                @foreach (var item in Model.Topics)
                {
                    <button class="collapsible border-bottom" style="font-size:18px">@item.TopicName</button>
                    <div class="content-collapsible" id="wrap-lessson">
                        @foreach (var item2 in item.Lessons)
                        {
                            <div title="@item2.UrlFile" class="panel p-2 border-bottom lesson-click-cl d-flex" id="@item2.Id"><i class="fa-solid fa-circle-play p-1"></i>@item2.LessonName</div>
                        }
                    </div>
                }
            </div>
            <div id="Contact" class="tabcontent container col-12" style="text-align:center">
                <div class="row flex-column">
                    <div><img style="width:100px" src="~/Content/img/61457-removebg-preview.png" /></div>
                    <div class="mt-3"><h5 style="font-size:20px">Mục Bị Khóa</h5></div>
                </div>
            </div>
            <div id="About" class="tabcontent container col-12" style="text-align:center">
                <div class="row flex-column">
                    <div><img style="width:100px" src="~/Content/img/61457-removebg-preview.png" /></div>
                    <div class="mt-3"><h5 style="font-size:20px">Mục Bị Khóa</h5></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 blog-pull-right" style="margin-top: 55px">
        @foreach (var item in Model.Topics)
        {
            <button class="collapsible border-bottom d-flex" style="font-size:16px">
                <div style="width: 81%">@item.TopicName</div>
                <div style="color: #9a9a9a;">4 bài đăng</div>
                <i class="m-1 o-icon fa-solid fa-angle-right"></i>
            </button>
            <div class="content-collapsible">
                @foreach (var item2 in item.Lessons)
                {
                    <div title="@item2.UrlFile" class="panel p-2 border-bottom lesson-click-cl d-flex" id="@item2.Id" style="font-size: 16px">
                        <i class="fa-solid fa-circle-play p-1"></i>
                        <div class="lessonname">@item2.LessonName</div>
                        <div class="lessonname-time">03:24 min</div>
                    </div>
                }
            </div>
        }
    </div>
</div>
<script>
    function openPage(pageName, elmnt, color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;
    }
    $(document).ready(function () {
        $(document).on("click", ".lesson-click-cl", function (e) {
            $("#urlVideo").attr("src", this.title)

        });
    });
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>