@model CourseOnline.Models.Cours
@{
    ViewBag.Title = "CouseDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .collapsible {
        background-color: white;
        color: black;
        cursor: pointer;
        padding: 15px 0;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        cursor: pointer;
    }

        .active, .collapsible:after {
            color: #06bbcc;
        }


        bai-dang:after {
            content: '\002B';
            color: black;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }





    .content-collapsible {       
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #fff;
        cursor: pointer;
    }

    .tablink {
        background-color: white !important;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
    }

        .tablink:hover {
            background-color: #777;
        }

    @*/ Style the tab content (and add height:100% for full page content) /*@
    .tabcontent {
        display: none;
        padding: 10px 15px;
        height: 100%;
    }
    .lessonname {
        width: 75%;
    }
    .lessonname-time {
        color: #979797;
    }
    }
</style>
<div class="row m-0">
    <div class="col-md-8 blog-pull-right">
        <div class="single-service" style="padding:10px">
            <div itemscope="" itemtype="https://schema.org/VideoObject" style="width: 100%">

                @* <video style="width: 100%; padding-top: 10px; margin-top: 50px" controls="">
            <source src="https://www.youtube.com/embed/BtQynVJcaUo" type="video/mp4">
        </video>
        <script src="/FileUploads/files/video/1.mp4"></script>*@
                <iframe frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" style="width: 100%; padding-top: 10px; margin-top: 50px; height:448.36px" src="https://www.youtube.com/embed/W0vEUmyvthQ?autoplay=1&amp;mute=0&amp;controls=1&amp;origin=https%3A%2F%2Ffullstack.edu.vn&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;iv_load_policy=3&amp;modestbranding=1&amp;enablejsapi=1&amp;widgetid=1" id="widget2"></iframe>
            </div>
            <h3 class="text-theme-colored" style="padding:15px">@Model.CourseName</h3>
            <div class="container">
                <div class="row border-bottom">
                    <div class="col-3"> <button class="tablink text-center" style="border:none; background-color: #fff !important;" onclick="openPage('Home', this)" id="defaultOpen">Về Chúng Tôi</button></div>
                    <div class="col-3"> <button class="tablink text-center" style="border:none" onclick="openPage('News', this)">Bài Học</button></div>
                    <div class="col-3"> <button class="tablink text-center" style="border:none" onclick="openPage('Contact', this)">Thảo Luận</button></div>
                    <div class="col-3"> <button class="tablink text-center" style="border:none" onclick="openPage('About', this)">Tài Liệu</button></div>
                </div>
            </div>
            <div id="Home" class="m-3 tabcontent">
                <div>
                    @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
                </div>
                <h5 style="color: #06bbcc">Lợi ích của khóa học</h5>
                <div>
                    @Html.Raw(HttpUtility.HtmlDecode(Model.Benefits))
                </div>
            </div>
            <div id="News" class="tabcontent container">

                <button class="collapsible border-bottom" style="font-size:18px">Chương 1: Hướng dẫn cài đặt môi trường</button>
                <div class="content-collapsible">

                    <div class="panel pt-3 border-bottom"><i class="fa-solid fa-circle-play p-2"></i>Bài học 1: Những gì cần để bắt đầu với Java</div>
                    <div class="panel pt-3 border-bottom"><i class="fa-solid fa-circle-play p-2"></i>Bài học 2: Những gì cần để bắt đầu với Java</div>
                    <div class="panel pt-3 border-bottom"><i class="fa-solid fa-circle-play p-2"></i>Bài học 3: Những gì cần để bắt đầu với Java</div>
                </div>
                <button class="collapsible border-bottom" style="font-size:18px">Chương 2: Hướng dẫn cài đặt môi trường</button>
                <div class="content-collapsible">
                    <div class="panel pt-3 border-bottom"><i class="fa-solid fa-circle-play p-2"></i>Bài học 1: Những gì cần để bắt đầu với Java</div>
                    <div class="panel pt-3 border-bottom"><i class="fa-solid fa-circle-play p-2"></i>Bài học 2: Những gì cần để bắt đầu với Java</div>
                    <div class="panel pt-3 border-bottom"><i class="fa-solid fa-circle-play p-2"></i>Bài học 3: Những gì cần để bắt đầu với Java</div>
                </div>
                <button class="collapsible border-bottom" style="font-size:18px">Chương 3: Hướng dẫn cài đặt môi trường</button>
                <div class="content-collapsible">
                    <div class="panel pt-3 border-bottom"><i class="fa-solid fa-circle-play p-2"></i>Bài học 1: Những gì cần để bắt đầu với Java</div>
                    <div class="panel pt-3 border-bottom"><i class="fa-solid fa-circle-play p-2"></i>Bài học 2: Những gì cần để bắt đầu với Java</div>
                    <div class="panel pt-3 border-bottom"><i class="fa-solid fa-circle-play p-2"></i>Bài học 3: Những gì cần để bắt đầu với Java</div>
                </div>
            </div>
            <div id="Contact" class="tabcontent container col-12" style="text-align:center">
                <div class="row flex-column">
                    <div><img style="width:100px" src="~/Content/img/61457-removebg-preview.png" /></div>
                    <div class="mt-3"><h5 style="font-size:20px">Mục Bị Khóa</h5></div>
                </div>
            </div>
            <div id="About" class="tabcontent container col-12" style="text-align:center">
                <div class="row flex-column">
                    <div><img style="width:100px" src="~/Content/img/61457-removebg-preview.png" /></div>
                    <div class="mt-3"><h5 style="font-size:20px">Mục Bị Khóa</h5></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 blog-pull-right" style="margin-top: 55px">
        @foreach (var item in Model.Topics)
        {
            <button class="collapsible border-bottom d-flex" style="font-size:16px">
                <div style="width: 81%">@item.TopicName</div>
                <div style="color: #9a9a9a;">4 bài đăng</div>
                <i class="m-1 o-icon fa-solid fa-angle-right"></i>
            </button>
            <div class="content-collapsible">
                @foreach (var item2 in item.Lessons)
                {
                    <div class="panel pt-3 border-bottom d-flex" style="font-size: 16px">
                        <i class="fa-solid fa-circle-play p-2"></i>
                        <div class="lessonname">@item2.LessonName</div>
                        <div class="lessonname-time">03:24 min</div>
                    </div>
                }
            </div>

        }
    </div>
</div>
<script>
    function openPage(pageName, elmnt, color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>