@model CourseOnline.Models.Category
@{
    ViewBag.Title = "ListCouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .bsd {
        background-color: #f6f6f6;
    }

    .course-image {
        background-color: #cccccc;
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
</style>
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Danh mục</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                       @* <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home", null, new { @Class = "text-white" })</li>
                        <li class="breadcrumb-item text-white active" aria-current="page">@Html.ActionLink("About", "About", "Home", null, new { @Class = "text-white" })</li>*@
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="bsd">
    <div class="flex">

        @if (Model.Categories1.Count > 0)
        {
            <div class="col-2" style="margin: 0 30px">
                <h4 style="text-align:center; margin: 20px">Danh Mục Con</h4>
                <div class="form mb-3">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control form-input" placeholder="Search..." style="background-color: #efefef;">
                </div>
                @foreach (var item in Model.Categories1)
                {
                    <a href="/Course/ListCourse?id=@item.Id">
                        <p style="box-shadow: 0 1px #dbdbdb; padding: 8px; color: black ">@item.Name</p>
                    </a>

                }
            </div>
        }
        else
        {
            <div class="col-2" style="margin: 0 30px">
                <h4 style="text-align:center; margin: 20px">Các khóa học của danh mục: @Model.Name</h4>                
            </div>
        }

        <div class="col-9">
            <div class="row">
                @if (Model.Cours.Count == 0)
                {
                    foreach (var item in Model.Categories1)
                    {
                        foreach (var items in item.Cours)
                        {
                            <div class="col-lg-4 col-md-6 wow p-3 fadeInUp" data-wow-delay="0.1s">
                                <div class="course-item bg-light">
                                    <div class="position-relative overflow-hidden">

                                        <div class="course-image" style="background-image: url(@items.Image)"></div>
                                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                            <a href="/Course/Detail?id=@items.Id" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                            @* @Html.ActionLink("Read More", "Detail", "Course", new { @class = "flex-shrink-0 btn btn-sm btn-primary px-3 border-end", @style = "border-radius: 30px 0 0 30px;" })*@
                                            <a href="/Course/Detail?id=@items.Id" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                                        </div>
                                    </div>
                                    <div class="text-center p-4 pb-0">
                                        <h3 class="mb-0">@items.Price đ</h3>
                                        <div class="mb-3">
                                            <small class="fa fa-star text-primary"></small>
                                            <small class="fa fa-star text-primary"></small>
                                            <small class="fa fa-star text-primary"></small>
                                            <small class="fa fa-star text-primary"></small>
                                            <small class="fa fa-star text-primary"></small>
                                            <small>(123)</small>
                                        </div>
                                        <h5 class="mb-2"> @items.CourseName</h5>
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small>
                                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                else
                {
                    foreach (var items in Model.Cours.Reverse())
                    {
                        <div class="col-lg-4 col-md-6 wow p-3 fadeInUp" data-wow-delay="0.1s">
                            <div class="course-item bg-light">
                                <div class="position-relative overflow-hidden">

                                    <div class="course-image" style="background-image: url(@items.Image)"></div>
                                    <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                        <a href="/Course/Detail?id=@items.Id" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                        @* @Html.ActionLink("Read More", "Detail", "Course", new { @class = "flex-shrink-0 btn btn-sm btn-primary px-3 border-end", @style = "border-radius: 30px 0 0 30px;" })*@
                                        <a href="/Course/Detail?id=@items.Id" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                                    </div>
                                </div>
                                <div class="text-center p-4 pb-0">
                                    <h3 class="mb-0">@items.Price đ</h3>
                                    <div class="mb-3">
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small>(123)</small>
                                    </div>
                                    <h5 class="mb-2"> @items.CourseName</h5>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small>
                                    <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>