
@{
    ViewBag.Title = "PartialLeftSidebar";
}
<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
                <li class="sidebar-item d-flex">
                    <div class="ms-3"></div>
                    <h2>
                        <i class="mdi mdi-view-dashboard" style="color:#a5a8ab"></i>
                    </h2>
                    @Html.ActionLink("Home", "Index", "HomeAdmin", null, new { @Class = "text-white m-2 " })


                </li>
                <li class="sidebar-item d-flex">
                    <div class="ms-3"></div>
                    <h2>
                        <i class="mdi mdi-chart-bar" style="color:#a5a8ab"></i>
                    </h2>
                    @Html.ActionLink("Charts", "Charts", "HomeAdmin", null, new { @Class = "text-white m-2" })
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="fa-solid fa-book-open"></i><span class="hide-menu">Course Management </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item d-flex">
                            <div ></div>
                            <h5>
                                <i class="fa-solid fa-circle-arrow-right mt-3 ms-3" style="color:#a5a8ab"></i>
                            </h5>
                            @Html.ActionLink("Create course", "Create", "Course", null, new { @Class = "sidebar-link sidebar-link Action-color" })
                        </li>
                        <li class="sidebar-item d-flex">
                            <div class=""></div>
                            <h5>
                                <i class="fa-solid fa-circle-arrow-right mt-3 ms-3" style="color:#a5a8ab"></i>
                            </h5>
                            @Html.ActionLink("Course management", "Index", "Course", null, new { @Class = "sidebar-link sidebar-link Action-color" })
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="fa-solid fa-circle-dollar-to-slot"></i>
                        <span class="hide-menu">Income management </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="form-basic.html" class="sidebar-link">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                                <span class="hide-menu">Daily income management </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="form-wizard.html" class="sidebar-link">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                                <span class="hide-menu">Weekly income management </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="form-wizard.html" class="sidebar-link">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                                <span class="hide-menu">Manage monthly income </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="form-wizard.html" class="sidebar-link">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                                <span class="hide-menu">Yearly income management </span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="fa-solid fa-user"></i><span class="hide-menu">User management </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item d-flex">
                            <div class="ms-2"></div>
                            <h5>
                                <i class="fa-solid fa-circle-arrow-right mt-3 ms-3" style="color:#a5a8ab"></i>
                            </h5>
                            @Html.ActionLink("Create user", "Create", "Users", null, new { @Class = "sidebar-link sidebar-link Action-color" })
                        </li>
                        <li class="sidebar-item d-flex">
                            <div class="ms-2"></div>
                            <h5>
                                <i class="fa-solid fa-circle-arrow-right mt-3 ms-3" style="color:#a5a8ab"></i>
                            </h5>
                            @Html.ActionLink("Manage Admin", "Index", "Users", null, new { @Class = "sidebar-link sidebar-link Action-color" })
                        </li>
                        <li class="sidebar-item">
                            <a href="form-wizard.html" class="sidebar-link">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                                <span class="hide-menu">Manage learners </span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="fa-solid fa-book-bible"></i>
                        <span class="hide-menu">Manage topics </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="form-basic.html" class="sidebar-link">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                                <span class="hide-menu">Add new topics </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="form-wizard.html" class="sidebar-link">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                                <span class="hide-menu">Manage topics </span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="fa-solid fa-book"></i>
                        <span class="hide-menu">Lesson management </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="form-basic.html" class="sidebar-link">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                                <span class="hide-menu">Add new Lesson </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="form-wizard.html" class="sidebar-link">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                                <span class="hide-menu">Lesson management </span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-blur-linear"></i>
                        <span class="hide-menu">Blog management </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="form-basic.html" class="sidebar-link">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                                <span class="hide-menu">Add new blog </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="form-wizard.html" class="sidebar-link">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                                <span class="hide-menu">Blog management </span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                <li class="sidebar-item d-flex">
                    <div class="ms-3"></div>
                    <h2>
                        <i class="mdi mdi-view-dashboard 2" style="color:#a5a8ab"></i>
                    </h2>
                    @Html.ActionLink("Widgets", "Widgets", "HomeAdmin", null, new { @Class = "text-white m-2 Action-color" })


                </li>
                </li>
                <li class="sidebar-item">
                <li class="sidebar-item d-flex">
                    <div class="ms-3"></div>
                    <h2>
                        <i class="mdi mdi-chart-bar" style="color:#a5a8ab"></i>
                    </h2>
                    @Html.ActionLink("Tables", "Tables", "HomeAdmin", null, new { @Class = "text-white m-2 Action-color" })
                </li>               
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-receipt"></i><span class="hide-menu">Forms </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item d-flex">
                            <div class="ms-2"></div>
                            <h5>
                                <i class="fa-solid fa-circle-arrow-right mt-3 ms-3" style="color:#a5a8ab"></i>
                            </h5>
                            @Html.ActionLink("Form basic", "Form", "HomeAdmin", null, new { @Class = "sidebar-link sidebar-link Action-color" })
                        </li>
                        <li class="sidebar-item d-flex">
                            <div class="ms-2"></div>
                            <h5>
                                <i class="fa-solid fa-circle-arrow-right mt-3 ms-3" style="color:#a5a8ab"></i>
                            </h5>
                            @Html.ActionLink("Form wizard", "FormWizard", "HomeAdmin", null, new { @Class = "sidebar-link sidebar-link Action-color" })
                        </li>
                    </ul>
                </li>
                            
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-account-key"></i><span class="hide-menu">Authentication </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="authentication-login.html" class="sidebar-link">
                                <i class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Login </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="authentication-register.html" class="sidebar-link">
                                <i class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Register </span>
                            </a>
                        </li>
                    </ul>
                </li>              
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>

