@model IEnumerable<CourseOnline.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<style>
    .icon-list {
        color: white;
        background-color: #5a67ff;
        padding: 8px;
    }
</style>


<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Tables</h4>
                <div class="ms-auto text-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Library
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">


                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Danh mục</h5>
                
                        @using (Html.BeginForm("DeleteConfirmed", "Categories", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <p>
                                @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })                                
                                <input type="submit" value="Xóa bỏ" onclick="return confirm('Are you sure you wish to delete selected Students?');" class="btn btn-danger" />
                            </p>

                            <div class="table-responsive">
                                <table id="zero_config"
                                       class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th> <input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></th>
                                            <th>Id</th>
                                            <th>ParenID</th>
                                            <th>Category</th>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Image
                                            </th>
                                            @*<th>
                                                Create At
                                            </th>
                                            <th>
                                                Update At
                                            </th>*@
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.Where(x=>x.Status == true).OrderBy(y=>y.ParentId == null))
                                        {
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="cb-element" name="ids" value="@item.Id" />
                                            </td>
                                            <td>
                                                @item.Id
                                            </td>
                                            <td>
                                                @item.ParentId
                                            </td>
                                            <td>
                                                @item.Category1.Name
                                            </td>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                <img src="@item.Image" alt="Alternate Text" style="height:50px; width:50px" />
                                            </td>

                                            @*<td>
                                                @item.CreatedAt
                                            </td>
                                            <td>
                                                @item.UpdatedAt
                                            </td>*@

                                            <td>
                                                <div class="d-flex">
                                                    <a class="m-2" href="/Admin/Cours/Edit/@item.Id">
                                                        <h5><i class="fa-solid fa-pen icon-list"></i></h5>
                                                    </a>                                                    
                                                    <a class="m-2" href="/Admin/Cours/Details/@item.Id">
                                                        <h5><i class="fa-solid fa-circle-info icon-list"></i></h5>
                                                    </a>
                                                </div>

                                            </td>
                                        </tr>

                                        }
                                    </tbody>

                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center">
        All Rights Reserved by Matrix-admin. Designed and Developed by
        <a href="https://www.wrappixel.com">WrapPixel</a>.
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
<script>
    /****************************************
     *       Basic Table                   *
     ****************************************/
    $("#zero_config").DataTable();
</script>
<script>
    $('#checkall').change(function () {
        $('.cb-element').prop('checked', this.checked);
    });

    $('.cb-element').change(function () {
        if ($('.cb-element:checked').length == $('.cb-element').length) {
            $('#checkall').prop('checked', true);
        }
        else {
            $('#checkall').prop('checked', false);
        }
    });
</script>