@model PagedList.IPagedList<CourseOnline.Models.Category>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">@Html.ActionLink("Create New", "Create")</h4>
                <div class="ms-auto text-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Library
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            @using (Html.BeginForm("Index", "Categories", FormMethod.Get))
            {
                <p>
                    Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Search" />
                </p>
            }
            @using (Html.BeginForm("DeleteConfirmed", "Categories", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <p>
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Show all", "all", null, new { @class = "btn btn-info" })
                    <input type="submit" value="Delete Selected Students" onclick="return confirm('Are you sure you wish to delete selected Students?');" class="btn btn-danger" />
                </p>



                <table class="table table-bordered" id="DataTable">
                    <tr>
                        <th>
                            <input type="checkbox" name="all" id="checkall" class="custom-checkbox" />
                        </th>
                        <th>
                            Id
                        </th>
                        <th>
                            ParentId
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }, new { @style = "color:black; font-weight: 900" })
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            @Html.ActionLink("Create At", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter }, new { @style = "color:black; font-weight: 900" })
                        </th>
                        <th>
                            @Html.ActionLink("Upda At", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter }, new { @style = "color:black; font-weight: 900" })
                        </th>
                        <th>
                            Status
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (item.Status)
                            {
                                <td>
                                    <input type="checkbox" class="cb-element" name="ids" value="@item.Id" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ParentId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category1.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <img src="@item.Image" alt="Alternate Text" style="height:50px; width:50px" />
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                                </td>

                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            }
                        </tr>

                    }

                </table>
                @* <div>
                <input type="checkbox" name="all" id="checkall" class="custom-checkbox" />

                <input type="checkbox" class="cb-element" name="ids" />
                <input type="checkbox" class="cb-element" name="ids" />
                <input type="checkbox" class="cb-element" name="ids" />
                <input type="checkbox" class="cb-element" name="ids" />
                <input type="checkbox" class="cb-element" name="ids" />
                <input type="checkbox" class="cb-element" name="ids" />
                <input type="checkbox" class="cb-element" name="ids" />

            </div>*@
            }
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
                     new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>

<script>
    $('#checkall').change(function () {
        $('.cb-element').prop('checked', this.checked);
    });

    $('.cb-element').change(function () {
        if ($('.cb-element:checked').length == $('.cb-element').length) {
            $('#checkall').prop('checked', true);
        }
        else {
            $('#checkall').prop('checked', false);
        }
    });
</script>  