
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>eLEARNING</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">            
            @Html.ActionLink("Home", "Index", "Home", null, new { @Class = "nav-item nav-link" })
            @Html.ActionLink("Abount", "About", "Home", null, new { @Class = "nav-item nav-link" })
            @Html.ActionLink("Course", "Course", "Home", null, new { @Class = "nav-item nav-link" })
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu fade-down m-0">
                    @Html.ActionLink("Our Team", "Team", "Home", null, new { @Class = "dropdown-item" })
                    @Html.ActionLink("Testimonial", "Testimonial", "Home", null, new { @Class = "dropdown-item" })                    
                </div>
            </div>
            @Html.ActionLink("Contact", "Contact", "Home", null, new { @Class = "nav-item nav-link" })
        </div>
        <a href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Join Now<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
