
@{
    ViewBag.Title = "AccountProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ var session = (CourseOnline.Models.User)Session[CourseOnline.Common.CommonConstants.USER_SESSION];

}
<style>
    .tablink {
        background-color: white !important;     
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
    }

        .tablink:hover {
            background-color: #777;
        }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
       
        display: none;
        padding: 50px 20px;
        height: 100%;
    }
    input {
        padding: 5px;        
        background-color: #f0fbfc;
    }
</style>

<div class="container" style="margin-top: 30px">
    <div class="row border-bottom">
        <div class="col-3"> <button class="tablink text-center" style="border:none; background-color: #fff !important;" onclick="openPage('Home', this)"  id="defaultOpen">Thông Tin Cơ Bản</button></div>
        <div class="col-3"> <button class="tablink text-center" style="border:none" onclick="openPage('News', this)">Danh Mục</button></div>
        <div class="col-3"> <button class="tablink text-center" style="border:none" onclick="openPage('Contact', this)">Lịch Sử Đăng Ký</button></div>
        <div class="col-3"> <button class="tablink text-center" style="border:none" onclick="openPage('About', this)">Hoạt Động Gần Đây</button></div>
    </div>
</div>
<div class="container">
    <div id="Home" class="tabcontent p-5">
        <div class="row">


            <div class="col-sm-4 mx-3">
                <label>Full Name</label>
                <input type="text" name="name" value="@session.FullName" />
                <label class="mt-2">Tài khoản</label>
                <input type="text" name="Gioitinh" value="@session.UserName" />
                <label class="mt-2">Số điện thoại</label>
                <input type="text" name="SDT" value="@session.Phone" />
            </div>
            <div class="col-sm-4 mx-3">
                <label>Email</label>
                <input type="text" name="DiaChi" value="@session.Email" />
                <label class="mt-2">Địa chỉ</label>
                <input type="text" name="DiaChi" value="@session.Address" />
                <label class="mt-2">Ngày sinh</label>
                <input type="date" name="ngaysinh" value="@session.DateOfBirth" />
            </div>
            <div class="col-sm-3">
                <div class="items-center">
                    <img style="background-image:url(@session.Avatar); background-size:cover;background-repeat:no-repeat;height:160px;width:160px; border-radius:50%;margin:25px" />
                </div>
             
            </div>
        </div>
    </div>

    <div id="News" class="tabcontent">
        <div class="row">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/Content/img/team-1.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Instructor Name</h5>
                        @*<small>Designation</small>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/Content/img/team-2.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Instructor Name</h5>
                        @* <small>Designation</small>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/Content/img/team-3.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Instructor Name</h5>
                        @*<small>Designation</small>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/Content/img/team-4.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Instructor Name</h5>
                        @*<small>Designation</small>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Contact" class="tabcontent">
        <div class="row" style="background-color:#eeeeee; margin: 10px 0">
            <table>
                <tr class="py-3">
                    <td style="width: 60px"> <img style="width:60px; height:60px; margin:10px 20px; border-radius:50%" src="~/Content/img/5f660a6763af6a0025a73587.jpg" /></td>
                    <td> <div style="color: black; margin:0 30px">100 ngày nâng cao trình độ bốc phét</div></td>
                    <td>#TP Đặt hàng 11 Mar 2002</td>
                    <td><Button class="text-center" onclick="openPage" style="border: hidden; color: white; border: 2px solid #455a64; background-color: #455a64">Hủy</Button></td>
                    <td><Button class="text-xl-center" onclick="openPage" style="background-color: #ffc107;border: 2px solid #ffc107; border-radius: 20px; color:white">Mua lại</Button></td>
                </tr>
            </table>
        </div>
        <div class="row" style="background-color:#eeeeee; margin: 10px 0">
            <table>
                <tr class="py-3">
                    <td style="width: 60px"> <img style="width:60px; height:60px; margin:10px 20px; border-radius:50%" src="~/Content/img/5f660a6763af6a0025a73587.jpg" /></td>
                    <td> <div style="color: black; margin:0 30px">100 ngày nâng cao trình độ bốc phét</div></td
                    <td>#TP Đặt hàng 11 Mar 2002</td>
                    <td><Button class="text-center" onclick="openPage" style="border: hidden; color: white; border: 2px solid #455a64; background-color: #455a64">Hủy</Button></td>
                    <td><Button class="text-xl-center" onclick="openPage" style="background-color: #ffc107;border: 2px solid #ffc107; border-radius: 20px; color:white">Mua lại</Button></td>
                </tr>
            </table>
        </div>
        <div class="row" style="background-color:#eeeeee; margin: 10px 0">
            <table>
                <tr class="py-3">
                    <td style="width: 60px"> <img style="width:60px; height:60px; margin:10px 20px; border-radius:50%" src="~/Content/img/5f660a6763af6a0025a73587.jpg" /></td>
                    <td> <div style="color: black; margin:0 30px">100 ngày nâng cao trình độ bốc phét</div></td>
                    <td>#TP Đặt hàng 11 Mar 2002</td>
                    <td><Button class="text-center" onclick="openPage" style="border: hidden; color: white; border: 2px solid #455a64; background-color: #455a64">Hủy</Button></td>
                    <td><Button class="text-xl-center" onclick="openPage" style="background-color: #ffc107;border: 2px solid #ffc107; border-radius: 20px; color:white">Mua lại</Button></td>
                </tr>
            </table>
        </div>
        @*<div class="row">
            <img class="text-center" style="width:200px; margin-left:572px" src="~/Content/img/istockphoto-1142859120-170667a-removebg-preview.png" />
            <h3 class="text-center">Không Có Khóa Học Đã Đăng Ký</h3>
        </div>*@
    </div>

    <div id="About" class="tabcontent container">  
        <div class="row">
            <table class="mb-4">
                <tr style="background-color:#eeeeee; border-radius: 10px; margin: 30px 0">
                    <td style="width: 60px"> <img style="width:60px; height:60px; margin:0 20px 0 20px; border-radius:50%" src="~/Content/img/5f660a6763af6a0025a73587.jpg" /></td>
                    <td> <div style="color: black; margin: 25px">Đạt đã thay đổi</div></td>
                    <td class="text-center">Tài Khoản</td>
                    <td class="text-xl-center">11pm</td>
                </tr>
            </table>
            <table class="mb-4">
                <tr style="background-color:#eeeeee; border-radius: 10px; margin: 30px 0">
                    <td style="width: 60px"> <img style="width:60px; height:60px; margin:0 20px 0 20px; border-radius:50%" src="~/Content/img/5f660a6763af6a0025a73587.jpg" /></td>
                    <td> <div style="color: black; margin: 25px">Đạt đã thay đổi</div></td>
                    <td class="text-center">Tài Khoản</td>
                    <td class="text-xl-center">11pm</td>
                </tr>
            </table>
            <table class="mb-4">
                <tr style="background-color:#eeeeee; border-radius: 10px; margin: 30px 0">
                    <td style="width: 60px"> <img style="width:60px; height:60px; margin:0 20px 0 20px; border-radius:50%" src="~/Content/img/5f660a6763af6a0025a73587.jpg" /></td>
                    <td> <div style="color: black; margin: 25px">Đạt đã thay đổi</div></td>
                    <td class="text-center">Tài Khoản</td>
                    <td class="text-xl-center">11pm</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    function openPage(pageName, elmnt, color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>