@model PagedList.IPagedList<CourseOnline.Models.User>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Tables</h4>
                <div class="ms-auto text-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Library
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
<<<<<<< HEAD
            <div class="col-12">


                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">List User</h5>
                        @*@using (Html.BeginForm("Index", "Users", FormMethod.Get))
                        {
                            <p>
                                Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                                <input type="submit" value="Search" />
                            </p>
                        }*@
                        @using (Html.BeginForm("DeleteConfirmed", "Users", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <p>
                                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Show all", "all", null, new { @class = "btn btn-info" })
                                <input type="submit" value="Delete Selected Students" onclick="return confirm('Are you sure you wish to delete selected Students?');" class="btn btn-danger" />
                            </p>

                            <div class="table-responsive">
                                <table id="zero_config"
                                       class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th> <input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></th>
                                            <th>Avatar</th>
                                            <th>Role</th>
                                            <th>Usser Name</th>
                                            <th>Password</th>
                                            <th>Full Name</th>
                                            <th>Phone</th>
                                            <th>Address</th>
                                            <th>Phone</th>
                                            <th>Create At</th>
                                            <th>Update At</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {

                                            <tr>
                                                @if (item.Status)
                                                {
                                                    @*<td><input type="checkbox" name="ID" value="@item.Id" class="custom-checkbox chkCheckBoxId" /></td>*@
                                                    <td>
                                                        <input type="checkbox" name="ids" value="@item.Id" />
                                                    </td>


                                                    <td>
                                                        <img src="@item.Avatar" alt="Alternate Text" style="height:50px; width:50px" />
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Role.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.UserName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Password)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.FullName)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Phone)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Address)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CreatedAt)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                                                    </td>

                                                    @*   <td class="text-center"><span class="btn btn-success">Hiện</span></td>                    *@
                                                    <td>
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                                    </td>
                                                }
                                            </tr>
                                        }                                      
                                    </tbody>
                                 
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
=======
            @using (Html.BeginForm("Index", "Users", FormMethod.Get))
            {
                <p>
                    Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Search" />
                </p>
            }
            @using (Html.BeginForm("DeleteAll", "Users", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <p>
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Show all", "all", null, new { @class = "btn btn-info" })
                    <input type="submit" value="Delete Selected Students" onclick="return confirm('Are you sure you wish to delete selected Students?');" class="btn btn-danger" />
                </p>

                @* <button type="submit" value="Delete" class="btn btn-sm btn-danger rounded-0" onclick="return confirm('Are you sure?')"><i class="fa fa-trash-o"></i> Delete</button>
                    <br /><br />*@
                <table class="table table-bordered" id="DataTable">
                    <tr>
                        <th>
                            <input type="checkbox" id="checkBoxAll" class="custom-checkbox" />
                        </th>
                        <th>
                            Avatar
                        </th>
                        <th>
                            @Html.ActionLink("Role", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }, new { @style = "color:black; font-weight: 900" })
                            <i class="fa-solid fa-arrow-down-arrow-up"></i>
                        </th>
                        <th>
                            @Html.ActionLink("User Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }, new { @style = "color:black; font-weight: 900" })
                        </th>
                        <th>
                            Password
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.FullName)
                            </th>*@
                        <th>
                            @Html.ActionLink("Full Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }, new { @style = "color:black; font-weight: 900" })
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            @Html.ActionLink("Create At", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter }, new { @style = "color:black; font-weight: 900" })
                        </th>
                        <th>
                            @Html.ActionLink("Update At", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter }, new { @style = "color:black; font-weight: 900" })
                        </th>
                        <th>
                            Action
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {

                        <tr>
                            @if (item.Status)
                            {
                                @*<td><input type="checkbox" name="ID" value="@item.Id" class="custom-checkbox chkCheckBoxId" /></td>*@
                                <td>
                                    <input type="checkbox" name="ids" value="@item.Id" />
                                </td>


                                <td>
                                    <img src="@item.Avatar" alt="Alternate Text" style="height:50px; width:50px" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Role.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Password)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                                </td>

                                @*   <td class="text-center"><span class="btn btn-success">Hiện</span></td>                    *@
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @*  @Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                                    @*  @using (Html.BeginForm("Delete", "Users", FormMethod.Post))
                                        {<input type="submit" value="Delete" onclick="return confirm('Are you sure you wish to delete selected Students?');" class="btn btn-danger" />}*@
                                </td>
                            }
                        </tr>
                    }
                </table>
                <br />
            }
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
                     new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
>>>>>>> develop
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center">
        All Rights Reserved by Matrix-admin. Designed and Developed by
        <a href="https://www.wrappixel.com">WrapPixel</a>.
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<<<<<<< HEAD
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
<script>
    /****************************************
     *       Basic Table                   *
     ****************************************/
    $("#zero_config").DataTable();
</script>
=======





















>>>>>>> develop
